<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271680876527-i9u6msol9jq8avqg2mji0dq6ke4pk1e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271680876527-i9u6msol9jq8avqg2mji0dq6ke4pk1e6</string>
	<key>API_KEY</key>
	<string>AIzaSyDLfMx8gqcMSUI90qr8qaUMrLZ5lDVErYs</string>
	<key>GCM_SENDER_ID</key>
	<string>271680876527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techMedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-c1e93</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-c1e93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271680876527:ios:395eab0997f79b21bc501a</string>
</dict>
</plist>